@mixin placeholder($color) {
    ::-webkit-input-placeholder {
        color: $color;
        @content
    }
    ::-moz-placeholder {
        color: $color;
        @content
    }
    :-ms-input-placeholder {
        color: $color;
        @content;
    }
}

@mixin scrollable() {
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
        display: none;
    }
}
