$main: #DE3341;
$mainDarker: #CF2D3B;
$mainDark: #BA1A2A;

$text: rgba(255,255,255,0.8);

$border: rgba(255,255,255,0.4);
$borderDark: #C22F36;

$darkBg: #11131A;
$darkTextLight: rgba(255,255,255,0.2);
$darkBorder: rgba(151,151,151,0.2);

$black: #111;
$brown: #F7B078;

$tabBarHeight: 54px;