<aside class="aside">
            <!-- START Sidebar (left)-->
            <div class="aside-inner">
                <nav data-sidebar-anyclick-close="" class="sidebar">
                    <!-- START sidebar nav-->
                    <ul class="nav">
                        
                        <!-- Iterates over all sidebar items-->
                        <li class="nav-heading ">
                            <span data-localize="sidebar.heading.HEADER">百威核销平台</span>
                        </li>
                        <li class=" ">
                            <a href="#product" title="Dashboard" data-toggle="collapse">
                                <em class="icon-grid"></em>
                                <span data-localize="sidebar.nav.DASHBOARD">核销管理</span>
                            </a>
                            <ul id="product" class="nav sidebar-subnav collapse">
                                <li class="sidebar-subnav-header">Dashboard</li>
                                <!-- <li class=" ">
                                    <a href="{:U('Index/main')}" title="总览">
                                        <span>总览</span>
                                    </a>
                                </li> -->
                                <!-- <li class=" ">
                                    <a href="{:U('Index/lists')}" title="详细核销纪录">
                                        <span>服务员兑酒纪录</span>
                                    </a>
                                </li> -->
                               <!--  <li class=" ">
                                    <a href="{:U('Index/hexiaolists')}" title="核销兑酒纪录">
                                        <span>核销兑酒纪录</span>
                                    </a>
                                </li> -->
                                <li class=" ">
                                    <a href="{:U('Index/shenqingjilu')}" title="核销申请纪录">
                                        <span>核销申请纪录</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- END sidebar nav-->
                </nav>
            </div>
            <!-- END Sidebar (left)-->
        </aside>