<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{$username}兑换详情</title>
    <!-- Bootstrap -->
    <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/css/style.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>

<body>
    <div class="container main-box">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                <p>您正在查看员工{$username}的历史酒水兑换纪录 截止昨天：{$username}一共兑换了{$total}瓶啤酒
                </p>

                <div class="list-group">
                 <a href="#" class="list-group-item list-group-item-warning">七日详情</a>
                  <a href="#" class="list-group-item list-group-item-info">2016.03.07</a>
                  <a href="#" class="list-group-item"><span class="badge">1</span>兑换啤酒</a>
                  <a href="#" class="list-group-item list-group-item-info">2016.03.06</a>
                  <a href="#" class="list-group-item"><span class="badge">4</span>兑换啤酒</a>
                  <a href="#" class="list-group-item list-group-item-info">2016.03.05</a>
                  <a href="#" class="list-group-item"><span class="badge">3</span>兑换啤酒</a>
                  <a href="#" class="list-group-item list-group-item-info">2016.03.04</a>
                  <a href="#" class="list-group-item"><span class="badge">4</span>兑换啤酒</a>
                  <a href="#" class="list-group-item list-group-item-info">2016.03.03</a>
                  <a href="#" class="list-group-item"><span class="badge">2</span>兑换啤酒</a>
                  <a href="#" class="list-group-item list-group-item-info">2016.03.02</a>
                  <a href="#" class="list-group-item"><span class="badge">1</span>兑换啤酒</a>
                  <a href="#" class="list-group-item list-group-item-info">2016.03.01</a>
                  <a href="#" class="list-group-item"><span class="badge">3</span>兑换啤酒</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
